<div class="container ml-5 mr-5">
<div class="row ml-5 mr-5">

<div class="col-12">
{{ form_start(form) }}
 
    {{ form_widget(form) }}
    <div class="form-check form-check-inline">
    {{ form_widget(form.Active,{'attr' :{"class":"",}}) }}
  
    </div>
  
  
    <button class="btn btn-outline-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

<div class="form-group row">
                     <div class="col-sm-12 col-md-8 col-md-offset-2 text-center">
                               {{ form_errors ( form.Active ) }}
                             
                               {{ form_widget ( form.Active, {'attr' : {'class': 'form-check-input'}} ) }}
                               {{ form_help ( form.Active ) }}
                               {{ form_label ( form.Active, 'AGREE-TERMS'|trans ) }}
                           </div>
                       </div>
</div>

</div>
</div>